
@font-face {
	src: url( '/assets/fonts/BebasNeue-Regular.woff');
	font-weight: normal;
	font-family: 'BebasNeue-Reg';
}

@font-face {
	src: url( '/assets/fonts/Montserrat-SemiBold.woff');
	font-weight: normal;
	font-family: 'Montserrat-Semi';
}

@font-face {
	src: url( '/assets/fonts/Montserrat-Medium.woff');
	font-weight: normal;
	font-family: 'Montserrat-Medium';
}

@font-face {
	src: url( '/assets/fonts/ofontruBebasNeue.woff');
	font-weight: normal;
	font-family: 'ofontru';
}


.app{
	color: #3a4e77;
	height: 100%;
}